.contacts-page {
    background-color: white;
    color: black;
    padding: 50px 0px;
    text-align: center;
}

.contacts-page h1 {
    margin-bottom: 20px;
    font-size: 36px;
}

.contacts-page p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;
}

.contacts-page form {
    padding: 10px 0px;
}

.contacts-page form input {
    padding: 8px;
    margin-bottom: 9px;
    border: 1px #b4b4b4 solid;
    border-radius: 4px;
    display: block;
    width: 500px;
    margin-left: 400px;
}

.contacts-page form textarea {
    padding: 8px;
    border: 1px #b4b4b4 solid;
    border-radius: 4px;
    display: block;
    width: 500px;
    margin-left: 400px;
    margin-bottom: 9px;
}

.contacts-page form button {    
    padding: 8px;
    border: 1px #b4b4b4 solid;
    border-radius: 4px;
    display: block;
    width: 100px;
    margin-left: 400px;
    background-color: #2560e9;
    color: white;
    cursor: pointer;
}

.contacts-page form button:hover {
    opacity: 0.8;
}


